* {
  margin: 0px;
}
.app {
  margin: 10px;
  margin-top: 12px;
  border: 5px solid #a1d33c;

  border-radius: 10px;
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  height: 86vh;
  overflow: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}

.app__form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.app__todo {
  margin-left: 10%;
  margin-right: 10%;
  max-height: 100%;
}
